.home-form {
  background-color: #fff;
  padding: 2rem;
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.home-form h2, .home-form h3 {
  color: #818181;
}

.home-form .item-form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.home-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.home-form button {
  background-color: #000000;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-form button:hover {
  background-color: #ccc;
  color: #103b52;
}

.home-form ul {
    list-style: none;
    padding: 0;
}

.home-form li {
    background-color: #f9f9f9;
    padding: 0.5rem;
    border-bottom: 1px solid #eee;
}
