.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: rgb(94, 94, 94);
  color: #ffffff;
  width: 100%;
  max-width: 1042px;
  margin: 2rem auto 0;
  padding: 1.5rem 2rem;
  font-size: 0.8rem;
}

.app-footer a {
  color: #ffffff;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

@media (max-width: 760px) {
  .app-footer {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }
}

.app-footer a:hover {
  text-decoration: underline;
}