.app-header{
  display: flex;
  justify-content: space-between; /* Empuja el título y la nav a los extremos */
  align-items: center; /* Centra verticalmente el título y la nav */
  gap: 2rem; 
  background-color: var(--color-primary);
  color: #ffffff;
  width: 100%;
  max-width: 1042px;
  margin: 0 auto;
  padding: 2rem;
}

/* Nuevo estilo para la navegación */
.app-header nav ul {
  display: flex;
  gap: 1rem; /* Espacio entre los botones */
  list-style: none; /* Quita los puntos de la lista */
  margin: 0;
  padding: 0;
}

.nav-link{
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1); /* Un poco más sutil */
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block; /* Asegura que el padding se aplique bien */
}

.nav-link:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-primary);
}

@media (max-width: 760px) {
  .app-header {
    flex-direction: column;
    align-items: center; /* Alinea a la izquierda en pantallas pequeñas */
  }
  
  .app-header nav ul {
    flex-direction: column;
    gap: 0.5rem; /* Menos espacio entre los botones en columna */
    text-size-adjust: 120%;

  }
}