.app-header{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  gap: 2rem; 
  background-color: rgb(94, 94, 94);
  color: #ffffff;
  width: 100%;
  max-width: 1042px;
  margin: 0 auto;
  padding: 2rem;
}


.app-header nav ul {
  display: flex;
  gap: 1rem; 
  list-style: none; 
  margin: 0;
  padding: 0;
}

.nav-link{
  color: #ffffff;
  background-color: rgb(2, 0, 0); 
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  text-decoration: none;
  display: inline-block;
}

.logo-img {
  width: 210px;
}

.nav-link:hover {
  background-color: var(--color-primary-hover);
  color: rgb(255, 255, 255);
}

@media (max-width: 760px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .app-header nav ul {
    flex-direction: column;
    gap: 0.5rem; 
    text-size-adjust: 120%;

  }
}