/* stylelint-disable-next-line at-rule-no-unknown 
@tailwind base;
 stylelint-disable-next-line at-rule-no-unknown 
@tailwind components;
 stylelint-disable-next-line at-rule-no-unknown 
@tailwind utilities; */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #f8f9fa; /* Un gris muy claro para el fondo general */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* Definición de variables de color para usar en otros CSS si es necesario */
:root {
  --color-primary: #103b52;
  --color-primary-hover: #e9ecef; /* Gris claro para hover */
  --color-background: #ffffff;
  --color-text: #343a40;
  --color-border: #dee2e6;
}


